@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<p>Acount Index</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <p></p>
            </th>
            <th>

            </th>
            <th>
                <p></p>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            List<Microsoft.AspNetCore.Identity.IdentityUser> myAccounts = Model.ToList();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => myAccounts[i].UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => myAccounts[i].Email)
            </td>


            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@myAccounts[i].Id">Details</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@myAccounts[i].Id">Delete</a>
            </td>
            <td>
                <hr>
            </td>
        </tr>
        }
    </tbody>


</table>